<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('colors_css') }}">
    <script src="{{ url_for('static', filename='js/booth.js') }}"></script>
    <title>{{ photobooth_title }} - Photo Booth</title>
</head>
<body>
 
    <div id="app">
        {% include "components/_start.html" %}
        {% include "components/_options.html" %}
        {% include "components/_camera.html" %}
        {% include "components/_preview.html" %}
        {% include "components/_success.html" %}
    </div>

    <script>
        function showScreen(id) {
            document.querySelectorAll('.screen').forEach(s => s.classList.remove('active'));
            document.getElementById(id).classList.add('active');
        }
        
        // Esta função é chamada pelo botão START no _start.html
        function startExperience() {
            showScreen('screen-camera');
            initCamera(); // Função que está dentro do _camera.html
        }
    </script>
</body>
</html>